<h1>Ask for direction</h1>

<form action="/direction" method="GET">
    <select name="start" id="start">
        <%stations.forEach(station => { %>
            <option value="<%=station.name%>"><%=station.name%></option>
        <% })%>
    </select>
    <select name="end" id="end">
        <% stations.forEach(station => { %>
            <option value='<%=station.name%>'> <%=station.name%> </option>
        <% })%>
    </select>
    <label for="tram">Include tramway</label>
    <input type="checkbox" name="tram" id="tram">
    <input type="submit" value="Trouver chemin">
</form>

<%if(steps) { %>
    <h1>Directions </h1>

    <ul>
        <% steps.forEach(step => { %>
            <li><%=step.name%></li>
        <%}) %>
    </ul>
<% } %>


<a href="/user">Back</a>